* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}

.home-block {
  position: relative;
  background-image: url("assets/cm-bg.png");
  background-size: cover;
  overflow: auto;
  width: 100vw;
  height: 100vh;
}

.transition-block-1 {
  position: relative;
  background-image: linear-gradient(to top, #000000a9 12%, #000000a9 1%, transparent), url("assets/cm-bg.png");
  background-size: cover;
  overflow: auto;
  width: 100vw;
  height: 100vh;
}

.content-block-1 {
  position: relative;
  background-image: linear-gradient(to top, #000000a9 1%, #000000a9 1%), url("assets/cm-bg.png");
  background-size: cover;
  overflow: auto;
  width: 100vw;
  height: 100vh;
}

.title-container {
  display: block;
  margin-top: 10%;
  margin-left: 30%;
}

.text-container {
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
}

.szn1-carousel-container { 
  margin-top: 10%;
  margin-left: 0.75%;
}

.szn2-carousel-container { 
  margin-top: 20%;
  margin-left: 0.75%;
}

.cover {
  width: 270px;
  height: 270px; 
  background: #ffffff;
  border-radius: 30px;
  box-shadow: 10px 10px 5px grey;
}

