@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.home-bg {
  background-image: url("assets/cm-bg.png");
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.tada {
  animation-name: tada;
}

.carousel-container {
  top: 50%;
}

.cover {
  width: 270px;
  height: 270px; 
  background: #313131;
  border-radius: 30px;
  box-shadow: 10px 10px 5px grey;
}

